development: &development_defaults
  ciphers:
    - key: 1234567890ABCDEF
      iv: 1234567890ABCDEF
      cipher_name: aes-128-cbc
      version: 1

test:
  <<: *development_defaults

production:
  ciphers:
  - keystore: :file
    cipher_name: aes-256-cbc
    version: 1
    key_filename: "/home/user_name/.symmetric-encryption/symmetric-encryption_production_v1.encrypted_key"
    iv: !binary |-
      RYvBET5oC67HNuFmJ4KuKg==
    key_encrypting_key:
      encrypted_key: !binary |-
        kJnFbTQdpRZcP2rL+hyc6jhpze+lmJktY6IgnHj1J2izailrgbUu1neaBuSuNG+B
      iv: !binary |-
        +8wKC6tIcKILo6S35Bm8pA==
      key_encrypting_key:
        key_filename: "/home/user_name/.symmetric-encryption/symmetric-encryption_production_v1.kekek"
        iv: !binary |-
          o12NKX9NuTTI4Ummr28Jsg==
